{% if forloop.counter|divisibleby:"2" %}
<tr class="finance-row odd-row">
{% else %}
<tr class="finance-row even-row">
{% endif %}
		<td>{{purchase.creator.downcast.displayName}}</td>
		<td class="finance-date">
			{{purchase.purchase_date|date:"n/j"}}
		</td>
		<td class="finance-vendor">
			{% if purchase.vendor %}
				{{purchase.vendor.name}}
			{% else %}
				{{purchase.banker.displayName}}
			{% endif %}
		</td>
		<td class="finance-description">
			<a class="finance-details-link" href="/lw/{{house.pk}}/finances/{{purchase.pk}}/details/"></a>
			{% if purchase.vendor %}
				{{purchase.description}}
			{% else %}
				Settlement {% if purchase.description %} re: {{purchase.description}}{% endif %}
			{% endif %}

		</td>
		<td>
			${{purchase.amount}}
		</td>
</tr>
