{% extends "alpha/base_template_nosidebar.html" %}
{%block content%}
<p></p>
	<h2>
		What is livewith.us?
	</h2>
	<p>Livewith.us is a web application we're building to let housemates organize and communicate more effectively.</p>

<p>Most of the time, the biggest headaches roommmates have living together are based around one of two things: either money or communication. Livewith.us makes both of these things easier -- it gives roommates:</p>
<ul>
<li>an easy-to-use, simple expense sharing tool to split expenses like bills, rent, dinner, TP, whatever</li>
<li>threaded discussions about today to help roommates ask and answer those tough questions like "what's for dinner tonight?" or "who wants to come to the bar?"</li>
</ul>
<p>Our goal is to get groups of roommates to stop worrying "will I get paid back?" or "I wonder if anyone else wants to go out tonight?" so they can do more stuff together, save money, stress out less, and generally live together better.</p>

<h2>Who is livewith.us?</h2>

<p>Livewith.us was started by three roommates who have been using a simple version of this application for five years. It's been totally useful for us over the years and we've been asked by our friends and former roommates time and time again if they can have a copy. We're hoping to bring the tool that's made our lives better to roommates everywhere.</p>

<h2>Where is livewith.us?</h2>

<p>We're all based in Somerville, Mass. We love the 'ville.</p>

<h2>When can I use livewith.us?</h2>

<p>Our initial closed beta launch for livewith.us is set for June 1, 2010.</p>

<p>Once we're sure we have all the kinks worked out we will open livewith.us up for public use, probably by September 1, 2010. If you're interested in becoming a beta household or learning about when you can use the site, <a href="/">sign up here</a>.</p>

<p>We promise to only use your email for infrequent livewith.us updates and not sell your details to anyone.</p>
{%endblock%}
