{% extends "alpha/base_template_nosidebar.html" %}

{% block title %} | privacy{% endblock %}

{% block content %}
<h2>Privacy on livewith.us</h2>
<p>As we're in closed pre-release right now, from time to time, our development
	and engineering team might look at your private data.</p>
<p>However, we promise never to sell or share your data or contact information with
people outside of livewith.us without your permssion.</p>
<p>This policy will likely change over time as we develop and improve this site. If and
when that happens, we'll let you know.</p>
		
{% endblock %}